In [2]:
import pandas as pd
import numpy as np

# Query 1

In [69]:
data=pd.read_excel(r"G:\dbquery-optimizer\notebooks\Query_Plan_stats(operator-based).xls")
data=data.iloc[:,1:]
data

,Query_No,No Plan,Default Plan,Plan 1,Plan 2,Plan 3,Plan 4,mean_duration,min_duration,max_duration,std deviation
0,1,74.00,2625.00,78.00,78.00,85.75,31.75,495.416667,31.75,2625.00,1043.456188
1,3,93.50,105.50,848.00,1968.50,828.25,125.25,661.500000,93.50,1968.50,733.506765
2,4,125.00,152.75,144.75,144.50,144.50,35.25,124.458333,35.25,152.75,44.663021
3,6,62.50,70.75,86.00,78.00,74.25,35.00,67.750000,35.00,86.00,17.829750
4,9,97.75,113.00,164.00,171.75,164.00,117.50,138.000000,97.75,171.75,32.113471
5,14,82.50,97.75,94.00,97.50,97.75,15.50,80.833333,15.50,97.75,32.541384
6,19,62.25,62.00,74.00,70.00,78.50,23.25,61.666667,23.25,78.50,19.905820
7,20,58.75,78.00,82.25,78.00,82.25,113.50,82.125000,58.75,113.50,17.690923
8,22,78.00,93.75,93.50,93.75,94.00,31.00,80.666667,31.00,94.00,25.134472
9,23,86.00,93.50,93.50,97.75,94.00,31.00,82.625000,31.00,97.75,25.578189
10,24,97.75,109.00,804.75,1171.75,800.75,109.50,515.583333,97.75,1171.75,469.103498
11,27,78.25,97.50,93.50,94.00,93.75,109.50,94.416667,78.25,109.50,9.998333
12,29,74.00,86.00,81.75,82.00,89.75,35.25,74.791667,35.25,89.75,20.069515
13,30,1.00,101.50,15.50,97.75,97.50,15.50,54.791667,1.00,101.50,48.646279
14,31,85.75,97.75,97.75,105.00,106.00,19.25,85.250000,19.25,106.00,33.134197
15,33,1.00,136.75,15.75,136.50,136.75,19.25,74.333333,1.00,136.75,68.557032
16,41,85.75,109.50,97.75,97.25,105.25,109.25,100.791667,85.75,109.50,9.113749
17,42,117.25,137.00,136.75,140.75,140.50,47.00,119.875000,47.00,140.75,36.760968
18,47,62.75,82.25,78.00,78.25,78.50,379.00,126.458333,62.75,379.00,123.905349
19,48,93.75,97.75,105.75,113.00,110.00,50.75,95.166667,50.75,113.00,22.941593
20,50,106.00,125.00,898.00,1414.25,906.00,129.00,596.375000,106.00,1414.25,554.412521
21,Sum,1623.50,4672.00,4183.25,6408.25,4408.00,1582.25,NaN,NaN,NaN,NaN

## Data preparation

In [70]:
def extract_parameters(query):
    params=[]
    s=query
    s_index=query.find('cn.country_code = ')+len('cn.country_code = ')
    param1=''
    while(s[s_index]!='\n'):
        param1+=s[s_index]
        s_index+=1
    # param1=param1.replace("'","''")
    params.append(param1)
    s_index=query.find("rt.role = '")+len("rt.role = '")
    param2=''
    while(s[s_index]!="'"):
        param2+=s[s_index]
        s_index+=1
    params.append(param2)
    s_index=query.find('t.production_year > ')+len('t.production_year > ')
    param3=''
    while(s[s_index]!='\n'):
        param3+=s[s_index]
        s_index+=1
    params.append(param3)
    return params

In [71]:
n_data=[]
labels=[]
for i in range(data.shape[0]-1):
    f=open("G:\dbquery-optimizer\query-variants\query_1\q_one_"+str(data['Query_No'][i])+".sql",'r')
    qry=f.read()
    params=extract_parameters(qry)
    t=data['min_duration'][i]
    best_plan=""
    if(t==data['No Plan'][i]):best_plan+="No Plan"
    elif(t==data['Default Plan'][i]):best_plan+="Default Plan"
    elif(t==data['Plan 1'][i]):best_plan+="Plan 1"
    elif(t==data['Plan 2'][i]):best_plan+="Plan 2"
    elif(t==data['Plan 3'][i]):best_plan+="Plan 3"
    elif(t==data['Plan 4'][i]):best_plan+="Plan 4"
    labels.append(best_plan)
    n_data.append(params)

n_data=np.array(n_data)
labels=np.array(labels)
df=pd.DataFrame({'Parameter 1':n_data[:,0],'Parameter 2':n_data[:,1],'Parameter 3':n_data[:,2],'Best Plan':labels})
df['Parameter 3']=pd.to_numeric(df['Parameter 3'])
df

   Parameter 1      Parameter 2  Parameter 3 Best Plan
0       '[ph]'  cinematographer         1923    Plan 4
1       '[ve]'           editor         1974   No Plan
2       '[pt]'         director         1999    Plan 4
3       '[kr]'         director         1912    Plan 4
4       '[us]'         producer         1988   No Plan
5       '[ve]'         composer         2015    Plan 4
6       '[us]'         producer         1942    Plan 4
7       '[id]'  cinematographer         1906   No Plan
8       '[it]'         producer         1980    Plan 4
9       '[kr]'            guest         1930    Plan 4
10      '[id]'         composer         1954   No Plan
11      '[ve]'         producer         2010   No Plan
12      '[kr]'  cinematographer         2004    Plan 4
13      '[no]'           editor         1997   No Plan
14      '[us]'         producer         1996    Plan 4
15      '[no]'           writer         1985   No Plan
16      '[pl]'         designer         1912   No Plan
17      '[kr]'            guest         1880    Plan 4
18      '[pt]'         designer         1911   No Plan
19      '[kr]'         producer         1954    Plan 4
20      '[id]'            actor         1933   No Plan

In [72]:
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([dummies,original_dataframe], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res) 

features=['Parameter 1','Parameter 2']
for f in features:
    df=encode_and_bind(df,f)

df

,Parameter 2_actor,Parameter 2_cinematographer,Parameter 2_composer,Parameter 2_designer,Parameter 2_director,Parameter 2_editor,Parameter 2_guest,Parameter 2_producer,Parameter 2_writer,Parameter 1_'[id]',Parameter 1_'[it]',Parameter 1_'[kr]',Parameter 1_'[no]',Parameter 1_'[ph]',Parameter 1_'[pl]',Parameter 1_'[pt]',Parameter 1_'[us]',Parameter 1_'[ve]',Parameter 3,Best Plan
0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1923,Plan 4
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1974,No Plan
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1999,Plan 4
3,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1912,Plan 4
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1988,No Plan
5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2015,Plan 4
6,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1942,Plan 4
7,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1906,No Plan
8,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1980,Plan 4
9,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1930,Plan 4
10,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1954,No Plan
11,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,2010,No Plan
12,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,2004,Plan 4
13,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1997,No Plan
14,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1996,Plan 4
15,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1985,No Plan
16,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1912,No Plan
17,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1880,Plan 4
18,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1911,No Plan
19,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1954,Plan 4
20,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1933,No Plan

In [73]:
from imblearn.over_sampling import RandomOverSampler
oversample=RandomOverSampler(random_state=42)
X=df.iloc[:,:-1]
y=df['Best Plan']
X=np.array(X)
y=np.array(y)
X,y=oversample.fit_sample(X,y)
print(X.shape,y.shape)

(22, 19) (22,)

In [93]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100,criterion='gini')
clf.fit(X_train,y_train)

RandomForestClassifier()

In [94]:
y_pred=clf.predict(X_test)
y_pred

array(['No Plan', 'No Plan', 'No Plan', 'Plan 4', 'No Plan'], dtype=object)

In [95]:
y_test

array(['No Plan', 'Plan 4', 'No Plan', 'Plan 4', 'No Plan'], dtype=object)

In [96]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.8

In [103]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [104]:
y_pred=clf.predict(X_test)
print(y_pred, y_test)
accuracy_score(y_test,y_pred)

['No Plan' 'No Plan' 'No Plan' 'Plan 4' 'No Plan'] ['No Plan' 'Plan 4' 'No Plan' 'Plan 4' 'No Plan']

0.8

# Query 2

In [45]:
data=pd.read_excel(r"G:\dbquery-optimizer\notebooks\Query_2_Plan_stats(operator-based).xls")
data=data.iloc[:,1:]
data

,Query_No,No Plan,Default Plan,Plan 1,Plan 2,Plan 3,Plan 4,Plan 5,mean_duration,min_duration,max_duration,std deviation
0,2,238.25,308.25,226.75,179.75,179.50,183.25,250.25,223.714286,179.50,308.25,47.602615
1,5,297.00,277.25,273.25,250.00,230.50,238.25,261.50,261.107143,230.50,297.00,23.377721
2,6,195.25,250.00,301.25,199.00,234.50,199.00,261.25,234.321429,195.25,301.25,39.732888
3,9,211.00,273.50,250.00,246.00,246.00,167.75,261.50,236.535714,167.75,273.50,35.901610
4,13,218.75,261.50,289.00,187.50,238.50,195.50,288.75,239.928571,187.50,289.00,41.693503
5,14,191.50,207.00,301.00,203.25,230.25,179.75,289.25,228.857143,179.75,301.00,47.948509
6,15,293.00,324.00,304.75,1484.50,308.50,1382.75,324.00,631.642857,293.00,1484.50,548.752332
7,18,245.75,324.00,265.75,160.00,257.50,195.00,273.50,245.928571,160.00,324.00,53.789078
8,22,195.50,300.75,258.00,226.50,261.50,191.50,258.00,241.678571,191.50,300.75,39.361232
9,23,211.00,230.25,242.25,171.75,238.00,195.50,250.00,219.821429,171.75,250.00,28.381961
10,24,254.00,297.25,222.75,195.50,207.00,207.00,320.50,243.428571,195.50,320.50,48.866040
11,26,214.75,281.25,273.50,199.00,230.25,195.25,277.50,238.785714,195.25,281.25,37.938390
12,28,914.00,1359.50,281.25,1523.50,328.00,1105.25,328.25,834.250000,281.25,1523.50,524.227726
13,29,175.75,211.00,249.75,210.75,249.75,195.50,293.00,226.500000,175.75,293.00,39.850240
14,30,215.00,234.50,269.50,203.25,254.25,226.75,289.00,241.750000,203.25,289.00,30.643787
15,33,203.00,242.00,297.00,191.50,257.75,195.25,270.00,236.642857,191.50,297.00,41.054805
16,35,187.75,273.50,285.25,203.25,230.50,203.25,254.25,233.964286,187.75,285.25,37.945803
17,37,230.50,175.50,304.75,234.00,242.25,207.00,261.50,236.500000,175.50,304.75,40.721872
18,38,191.25,230.50,289.00,222.75,222.50,191.50,269.50,231.000000,191.25,289.00,36.803815
19,40,254.25,308.50,265.75,218.75,218.75,187.25,277.50,247.250000,187.25,308.50,41.397212
20,41,230.00,215.00,297.00,215.00,242.00,195.00,300.50,242.071429,195.00,300.50,41.348548
21,42,257.75,297.25,269.25,219.00,238.25,191.50,238.25,244.464286,191.50,297.25,34.419117
22,44,668.25,1312.50,336.00,1300.75,351.50,1496.25,265.75,818.714286,265.75,1496.25,534.625832
23,47,257.75,234.25,242.25,211.00,207.25,191.00,285.25,232.678571,191.00,285.25,32.506639
24,49,612.75,1660.00,305.00,1703.25,304.75,1628.50,273.50,926.821429,273.50,1703.25,699.029025
25,50,949.50,1090.00,293.50,1336.00,328.25,1265.25,312.50,796.428571,293.50,1336.00,470.258987
26,Sum,8113.25,11179.00,7193.50,11695.50,6537.75,11009.75,7234.75,NaN,NaN,NaN,NaN

In [46]:
def extract_parameters(query):
    params=[]
    s=query
    s_index=query.find("it.info ='")+len("it.info ='")
    param1=''
    while(s[s_index]!="'"):
        param1+=s[s_index]
        s_index+=1
    params.append(param1)
    s_index=query.find("mi_idx.info > '")+len("mi_idx.info > '")
    param2=''
    while(s[s_index]!="'"):
        param2+=s[s_index]
        s_index+=1
    params.append(param2)
    s_index=query.find('t.production_year > ')+len('t.production_year > ')
    param3=''
    while(s[s_index]!='\n'):
        param3+=s[s_index]
        s_index+=1
    params.append(param3)
    return params

In [47]:
n_data=[]
labels=[]
for i in range(data.shape[0]-1):
    f=open("G:\dbquery-optimizer\query-variants\query_2\q_two_"+str(data['Query_No'][i])+".sql",'r')
    qry=f.read()
    params=extract_parameters(qry)
    t=data['min_duration'][i]
    best_plan=""
    if(t==data['No Plan'][i]):best_plan+="No Plan"
    elif(t==data['Default Plan'][i]):best_plan+="Default Plan"
    elif(t==data['Plan 1'][i]):best_plan+="Plan 1"
    elif(t==data['Plan 2'][i]):best_plan+="Plan 2"
    elif(t==data['Plan 3'][i]):best_plan+="Plan 3"
    elif(t==data['Plan 4'][i]):best_plan+="Plan 4"
    elif(t==data['Plan 5'][i]):best_plan+="Plan 5"
    labels.append(best_plan)
    n_data.append(params)

n_data=np.array(n_data)
labels=np.array(labels)
df=pd.DataFrame({'Parameter 1':n_data[:,0],'Parameter 2':n_data[:,1],'Parameter 3':n_data[:,2],'Best Plan':labels})
df['Parameter 2']=pd.to_numeric(df['Parameter 2'])
df['Parameter 3']=pd.to_numeric(df['Parameter 3'])
df

   Parameter 1  Parameter 2  Parameter 3     Best Plan
0        novel        182.6         1907        Plan 3
1    locations        350.8         1989        Plan 3
2       rating        315.9         1948       No Plan
3       rating        399.5         1961        Plan 4
4      rentals        303.5         1999        Plan 2
5         plot        195.0         1938        Plan 4
6        books        973.0         1991       No Plan
7        novel        146.2         1944        Plan 2
8    locations        187.0         1960        Plan 4
9    locations        858.7         1932        Plan 2
10      rating         17.5         1967        Plan 2
11       books         15.2         1900        Plan 4
12      trivia        107.4         2000        Plan 1
13   locations        541.5         2014       No Plan
14     rentals        179.8         1962        Plan 2
15      rating        467.3         1895        Plan 2
16     rentals        780.9         1972       No Plan
17     article        390.6         1997  Default Plan
18        plot        798.3         1882       No Plan
19       novel        450.3         2012        Plan 4
20      trivia        324.2         1996        Plan 4
21   locations        747.5         1997        Plan 4
22      trivia        160.9         1935        Plan 5
23       novel        748.3         1885        Plan 4
24       books        465.6         2002        Plan 5
25      rating        593.6         1974        Plan 1

In [48]:
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([dummies,original_dataframe], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res) 

features=['Parameter 1']
for f in features:
    df=encode_and_bind(df,f)

df

,Parameter 1_article,Parameter 1_books,Parameter 1_locations,Parameter 1_novel,Parameter 1_plot,Parameter 1_rating,Parameter 1_rentals,Parameter 1_trivia,Parameter 2,Parameter 3,Best Plan
0,0,0,0,1,0,0,0,0,182.6,1907,Plan 3
1,0,0,1,0,0,0,0,0,350.8,1989,Plan 3
2,0,0,0,0,0,1,0,0,315.9,1948,No Plan
3,0,0,0,0,0,1,0,0,399.5,1961,Plan 4
4,0,0,0,0,0,0,1,0,303.5,1999,Plan 2
5,0,0,0,0,1,0,0,0,195.0,1938,Plan 4
6,0,1,0,0,0,0,0,0,973.0,1991,No Plan
7,0,0,0,1,0,0,0,0,146.2,1944,Plan 2
8,0,0,1,0,0,0,0,0,187.0,1960,Plan 4
9,0,0,1,0,0,0,0,0,858.7,1932,Plan 2
10,0,0,0,0,0,1,0,0,17.5,1967,Plan 2
11,0,1,0,0,0,0,0,0,15.2,1900,Plan 4
12,0,0,0,0,0,0,0,1,107.4,2000,Plan 1
13,0,0,1,0,0,0,0,0,541.5,2014,No Plan
14,0,0,0,0,0,0,1,0,179.8,1962,Plan 2
15,0,0,0,0,0,1,0,0,467.3,1895,Plan 2
16,0,0,0,0,0,0,1,0,780.9,1972,No Plan
17,1,0,0,0,0,0,0,0,390.6,1997,Default Plan
18,0,0,0,0,1,0,0,0,798.3,1882,No Plan
19,0,0,0,1,0,0,0,0,450.3,2012,Plan 4
20,0,0,0,0,0,0,0,1,324.2,1996,Plan 4
21,0,0,1,0,0,0,0,0,747.5,1997,Plan 4
22,0,0,0,0,0,0,0,1,160.9,1935,Plan 5
23,0,0,0,1,0,0,0,0,748.3,1885,Plan 4
24,0,1,0,0,0,0,0,0,465.6,2002,Plan 5
25,0,0,0,0,0,1,0,0,593.6,1974,Plan 1

In [50]:
from imblearn.over_sampling import RandomOverSampler
oversample=RandomOverSampler(random_state=42)
X=df.iloc[:,:-1]
y=df['Best Plan']
X=np.array(X)
y=np.array(y)
X,y=oversample.fit_sample(X,y)
print(X.shape,y.shape)

(56, 10) (56,)

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100,criterion='gini')
clf.fit(X_train,y_train)

RandomForestClassifier()

In [63]:
y_pred=clf.predict(X_test)
print(y_pred)
print(y_test)

['Plan 5' 'No Plan' 'Plan 3' 'Plan 1' 'Plan 3' 'Plan 1' 'Plan 3' 'Plan 5'
 'No Plan' 'Plan 5' 'Plan 1' 'Plan 3']
['Plan 5' 'No Plan' 'Plan 3' 'Plan 1' 'Plan 3' 'Plan 1' 'Plan 3' 'Plan 5'
 'Plan 2' 'No Plan' 'Plan 1' 'Plan 4']

In [64]:
print(accuracy_score(y_test,y_pred))

0.75

In [65]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print(y_pred,y_test)
print(accuracy_score(y_test,y_pred))

['Plan 5' 'No Plan' 'Plan 3' 'Plan 1' 'Plan 3' 'Plan 1' 'Plan 3' 'Plan 5'
 'Plan 2' 'Plan 5' 'Plan 1' 'Plan 4'] ['Plan 5' 'No Plan' 'Plan 3' 'Plan 1' 'Plan 3' 'Plan 1' 'Plan 3' 'Plan 5'
 'Plan 2' 'No Plan' 'Plan 1' 'Plan 4']
0.9166666666666666

# Query 3

In [105]:
data=pd.read_excel(r"G:\dbquery-optimizer\notebooks\Query_3_Plan_stats(operator-based).xls")
data=data.iloc[:,1:]
data

,Query_No,No Plan,Default Plan,Plan 1,Plan 2,Plan 3,mean_duration,min_duration,max_duration,std deviation
0,1,19.25,39.00,23.50,609.25,35.00,145.20,19.25,609.25,259.537654
1,3,191.25,382.75,47.00,2793.00,62.75,695.35,47.00,2793.00,1180.308389
2,5,15.75,35.00,27.25,492.25,35.00,121.05,15.75,492.25,207.656673
3,7,15.75,35.00,31.25,2500.00,39.00,524.20,15.75,2500.00,1104.540903
4,8,15.75,31.25,27.50,453.00,31.25,111.75,15.75,453.00,190.870457
5,9,55.25,23.00,54.75,1890.50,23.75,409.45,23.00,1890.50,828.083167
6,15,4.75,23.75,27.75,441.75,23.00,104.20,4.75,441.75,188.905102
7,19,27.25,42.75,46.75,2284.75,51.00,490.50,27.25,2284.75,1003.056329
8,22,8.25,31.25,31.25,480.25,43.00,118.80,8.25,480.25,202.449407
9,24,4.75,23.75,27.25,456.75,35.25,109.55,4.75,456.75,194.413413
10,25,19.75,35.00,23.50,402.25,43.25,104.75,19.75,402.25,166.568398
11,26,23.50,39.25,31.00,406.00,31.25,106.20,23.50,406.00,167.685848
12,27,15.25,35.25,23.25,394.75,35.25,100.75,15.25,394.75,164.569894
13,29,586.00,476.50,31.25,402.25,31.25,305.45,31.25,586.00,258.702496
14,33,15.75,39.25,31.00,492.50,39.00,123.50,15.75,492.50,206.497957
15,34,15.75,31.00,31.50,476.50,46.75,120.30,15.75,476.50,199.423341
16,36,16.00,39.00,42.75,2019.50,58.25,435.10,16.00,2019.50,885.835457
17,39,8.50,35.25,39.00,2277.25,31.25,478.25,8.50,2277.25,1005.741595
18,46,19.50,31.25,39.25,7930.00,43.00,1612.60,19.50,7930.00,3531.545433
19,47,242.00,668.00,31.25,620.75,31.25,318.65,31.25,668.00,309.992974
20,48,4.75,31.50,27.50,476.50,42.75,116.60,4.75,476.50,201.663752
21,49,12.00,31.00,35.25,538.75,62.50,135.90,12.00,538.75,225.921073
22,50,15.50,47.00,35.25,543.00,47.00,137.55,15.50,543.00,227.018612
23,Sum,1352.25,2206.75,766.00,29381.50,921.75,NaN,NaN,NaN,NaN

In [106]:
def extract_parameters(query):
    params=[]
    s=query
    s_index=query.find("cn.country_code ='")+len("cn.country_code ='")
    param1=''
    while(s[s_index]!="'"):
        param1+=s[s_index]
        s_index+=1
    params.append(param1)
    s_index=query.find("ct.kind ='")+len("ct.kind ='")
    param2=''
    while(s[s_index]!="'"):
        param2+=s[s_index]
        s_index+=1
    params.append(param2)
    s_index=query.find("it.info ='")+len("it.info ='")
    param3=''
    while(s[s_index]!="'"):
        param3+=s[s_index]
        s_index+=1
    params.append(param3)
    s_index=query.find("kt.kind ='")+len("kt.kind ='")
    param4=''
    while(s[s_index]!="'"):
        param4+=s[s_index]
        s_index+=1
    params.append(param4)
    return params

In [107]:
n_data=[]
labels=[]
for i in range(data.shape[0]-1):
    f=open("G:\dbquery-optimizer\query-variants\query_3\q_three_"+str(data['Query_No'][i])+".sql",'r')
    qry=f.read()
    params=extract_parameters(qry)
    t=data['min_duration'][i]
    best_plan=""
    if(t==data['No Plan'][i]):best_plan+="No Plan"
    elif(t==data['Default Plan'][i]):best_plan+="Default Plan"
    elif(t==data['Plan 1'][i]):best_plan+="Plan 1"
    elif(t==data['Plan 2'][i]):best_plan+="Plan 2"
    elif(t==data['Plan 3'][i]):best_plan+="Plan 3"
    labels.append(best_plan)
    n_data.append(params)

n_data=np.array(n_data)
labels=np.array(labels)
df=pd.DataFrame({'Parameter 1':n_data[:,0],'Parameter 2':n_data[:,1],'Parameter 3':n_data[:,2],'Parameter 4':n_data[:,3],'Best Plan':labels})
df

,Parameter 1,Parameter 2,Parameter 3,Parameter 4,Best Plan
0,[az],distributors,trivia,episode,No Plan
1,[us],special effects companies,plot,tv mini series,Plan 1
2,[us],miscellaneous companies,novel,tv series,No Plan
3,[id],production companies,books,tv mini series,No Plan
4,[kr],production companies,locations,movie,No Plan
5,[as],production companies,plot,tv series,Default Plan
6,[ug],distributors,locations,tv series,No Plan
7,[in],production companies,rating,episode,No Plan
8,[ps],distributors,rating,tv series,No Plan
9,[ps],distributors,books,tv movie,No Plan
10,[pl],special effects companies,rating,tv mini series,No Plan
11,[tl],production companies,rentals,video movie,No Plan
12,[kr],production companies,rating,tv movie,No Plan
13,[kr],production companies,article,tv mini series,Plan 1
14,[id],distributors,locations,tv movie,No Plan
15,[as],special effects companies,article,tv series,No Plan
16,[as],production companies,books,tv mini series,No Plan
17,[ug],production companies,novel,video movie,No Plan
18,[by],distributors,trivia,tv mini series,No Plan
19,[pl],production companies,books,tv series,Plan 1
20,[pt],distributors,rating,video game,No Plan
21,[tl],distributors,rating,video movie,No Plan
22,[cr],distributors,rating,movie,No Plan

In [108]:
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([dummies,original_dataframe], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res) 

features=['Parameter 1','Parameter 2','Parameter 3','Parameter 4']
for f in features:
    df=encode_and_bind(df,f)

df

,Parameter 4_episode,Parameter 4_movie,Parameter 4_tv mini series,Parameter 4_tv movie,Parameter 4_tv series,Parameter 4_video game,Parameter 4_video movie,Parameter 3_article,Parameter 3_books,Parameter 3_locations,...,Parameter 1_[id],Parameter 1_[in],Parameter 1_[kr],Parameter 1_[pl],Parameter 1_[ps],Parameter 1_[pt],Parameter 1_[tl],Parameter 1_[ug],Parameter 1_[us],Best Plan
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,No Plan
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Plan 1
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,No Plan
3,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,No Plan
4,0,1,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,No Plan
5,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Default Plan
6,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,No Plan
7,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,No Plan
8,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,No Plan
9,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,No Plan
10,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,No Plan
11,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,No Plan
12,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,No Plan
13,0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,Plan 1
14,0,0,0,1,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,No Plan
15,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,No Plan
16,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,No Plan
17,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,No Plan
18,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,No Plan
19,0,0,0,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,Plan 1
20,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,No Plan
21,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,No Plan
22,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,No Plan

In [110]:
from imblearn.over_sampling import RandomOverSampler
oversample=RandomOverSampler(random_state=42)
X=df.iloc[:,:-1]
y=df['Best Plan']
X=np.array(X)
y=np.array(y)
X,y=oversample.fit_sample(X,y)
print(X.shape,y.shape)

(57, 32) (57,)

In [111]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100,criterion='gini')
clf.fit(X_train,y_train)

RandomForestClassifier()

In [112]:
y_pred=clf.predict(X_test)
print(y_pred,y_test)

['Default Plan' 'Plan 1' 'Plan 1' 'Default Plan' 'Plan 1' 'Plan 1'
 'Plan 1' 'No Plan' 'Plan 1' 'No Plan' 'Plan 1' 'Default Plan'] ['Default Plan' 'Plan 1' 'Plan 1' 'No Plan' 'Plan 1' 'Plan 1' 'Plan 1'
 'No Plan' 'Plan 1' 'No Plan' 'Plan 1' 'Default Plan']

In [113]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.9166666666666666

In [114]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print(y_pred,y_test)
accuracy_score(y_test,y_pred)

['Default Plan' 'Plan 1' 'Plan 1' 'Default Plan' 'Plan 1' 'Plan 1'
 'Plan 1' 'No Plan' 'Plan 1' 'No Plan' 'Plan 1' 'Default Plan'] ['Default Plan' 'Plan 1' 'Plan 1' 'No Plan' 'Plan 1' 'Plan 1' 'Plan 1'
 'No Plan' 'Plan 1' 'No Plan' 'Plan 1' 'Default Plan']

0.9166666666666666

# Query 5

In [1]:
data=pd.read_excel(r"G:\dbquery-optimizer\notebooks\Query_5_Plan_stats(operator-based).xls")
data=data.iloc[:,1:]
data

NameError: name 'pd' is not defined

In [118]:
def extract_parameters(query):
    params=[]
    s=query
    s_index=query.find("cn.country_code ='")+len("cn.country_code ='")
    param1=''
    while(s[s_index]!="'"):
        param1+=s[s_index]
        s_index+=1
    params.append(param1)
    s_index=query.find("k.keyword ='")+len("k.keyword ='")
    param2=''
    while(s[s_index]!="'"):
        param2+=s[s_index]
        s_index+=1
    params.append(param2)
    return params

In [117]:
n_data=[]
labels=[]
for i in range(data.shape[0]-1):
    f=open("G:\dbquery-optimizer\query-variants\query_5\q_five_"+str(data['Query_No'][i])+".sql",'r')
    qry=f.read()
    params=extract_parameters(qry)
    t=data['min_duration'][i]
    best_plan=""
    if(t==data['No Plan'][i]):best_plan+="No Plan"
    elif(t==data['Default Plan'][i]):best_plan+="Default Plan"
    elif(t==data['Plan 1'][i]):best_plan+="Plan 1"
    elif(t==data['Plan 2'][i]):best_plan+="Plan 2"
    elif(t==data['Plan 3'][i]):best_plan+="Plan 3"
    labels.append(best_plan)
    n_data.append(params)

n_data=np.array(n_data)
labels=np.array(labels)
df=pd.DataFrame({'Parameter 1':n_data[:,0],'Parameter 2':n_data[:,1],'Best Plan':labels})
df

   Parameter 1              Parameter 2     Best Plan
0         [us]  character-name-in-title        Plan 3
1         [no]  character-name-in-title        Plan 2
2         [in]                black-jew  Default Plan
3         [tl]           public-hearing        Plan 3
4         [cr]             rabbit-fight        Plan 3
5         [kr]                black-jew  Default Plan
6         [us]  character-name-in-title        Plan 2
7         [ve]  character-name-in-title        Plan 2
8         [no]               home-alone        Plan 3
9         [om]  character-name-in-title       No Plan
10        [no]           fictional-plot        Plan 2
11        [ps]           public-hearing        Plan 3
12        [id]                black-jew        Plan 3
13        [pt]               home-alone        Plan 2
14        [in]  character-name-in-title        Plan 2
15        [id]                black-jew        Plan 2
16        [by]              middle-ages        Plan 2
17        [ps]  character-name-in-title        Plan 3
18        [id]           public-hearing  Default Plan
19        [it]           fictional-plot        Plan 2
20        [it]           public-hearing        Plan 3
21        [om]  character-name-in-title        Plan 3
22        [ps]               home-alone        Plan 2
23        [it]             rabbit-fight  Default Plan
24        [ph]  character-name-in-title        Plan 3
25        [lk]               home-alone  Default Plan
26        [om]               home-alone        Plan 3

In [31]:
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([dummies,original_dataframe], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res) 

features=['Parameter 1','Parameter 2']
for f in features:
    df=encode_and_bind(df,f)

df

,Parameter 2_black-jew,Parameter 2_character-name-in-title,Parameter 2_fictional-plot,Parameter 2_home-alone,Parameter 2_middle-ages,Parameter 2_public-hearing,Parameter 2_rabbit-fight,Parameter 1_[by],Parameter 1_[cr],Parameter 1_[id],...,Parameter 1_[lk],Parameter 1_[no],Parameter 1_[om],Parameter 1_[ph],Parameter 1_[ps],Parameter 1_[pt],Parameter 1_[tl],Parameter 1_[us],Parameter 1_[ve],Best Plan
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,Plan 3
1,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,Plan 2
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Default Plan
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Plan 3
4,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,Plan 3
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Default Plan
6,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,Plan 2
7,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Plan 2
8,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,Plan 3
9,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,No Plan
10,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,Plan 2
11,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,Plan 3
12,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,Plan 3
13,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,Plan 2
14,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Plan 2
15,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,Plan 2
16,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Plan 2
17,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,Plan 3
18,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,Default Plan
19,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Plan 2
20,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Plan 3
21,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,Plan 3
22,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,Plan 2
23,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Default Plan
24,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,Plan 3
25,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Default Plan
26,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,Plan 3

In [32]:
from imblearn.over_sampling import RandomOverSampler
oversample=RandomOverSampler(random_state=42)
X=df.iloc[:,:-1]
y=df['Best Plan']
X=np.array(X)
y=np.array(y)
X,y=oversample.fit_sample(X,y)
print(X.shape,y.shape)

(44, 22) (44,)

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100,criterion='gini')
clf.fit(X_train,y_train)

RandomForestClassifier()

In [43]:
y_pred=clf.predict(X_test)
print(y_pred,y_test)

['Plan 3' 'Default Plan' 'No Plan' 'Plan 2' 'Plan 2' 'Plan 2'
 'Default Plan' 'Plan 2' 'Default Plan'] ['Plan 3' 'Default Plan' 'Plan 3' 'Plan 2' 'Plan 2' 'Plan 3'
 'Default Plan' 'Plan 2' 'Default Plan']

In [44]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.7777777777777778

In [28]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [29]:
y_pred=clf.predict(X_test)
print(y_pred,y_test)
print(accuracy_score(y_test,y_pred))

['Default Plan' 'Plan 2' 'Default Plan' 'Plan 3' 'Plan 3' 'Plan 2'] ['Plan 2' 'Plan 2' 'Plan 3' 'Plan 3' 'No Plan' 'Plan 3']
0.3333333333333333