In [1]:
from lxml import etree
import numpy as np
import pandas as pd

In [2]:
def extract_duration(s):
    c=0
    duration=''
    for i in list(s):
        if(i==':'):
            c+=1
        if(c==2):
            duration+=i
        if(c==3):
            break
    return duration[1:]

In [3]:
import subprocess
host='ACCESS-DENIED\SQLEXPRESS'
q2_time=[]
user='sa'
pwd='khmrsmhs'
for i in range(50):
    durations=[]
    path=r"G:\dbquery-optimizer\tpcds\query_variants\query_2\q_two_"+str(i+1)+".sql"
    for j in range(10):
        p=subprocess.Popen(['sqlcmd','-S',host,'-U',user,'-P',pwd,'-i',path,'-p1'],stdout=subprocess.PIPE)
        stdout=p.communicate()[0]
        # print(stdout)
        res=str(stdout)
        f_index=res.find('affected')+len('affected')
        l_index=f_index+35
        s=res[f_index+9:l_index]
        d=int(extract_duration(s))
        durations.append(d)
    q2_time.append(durations)

q2_time=np.array(q2_time)
q2_time=pd.DataFrame(q2_time)
q2_time

       0      1   2   3   4   5   6   7    8    9
0   3343     31  16  15  15  15  15  16   16   16
1    531     63  63  15  15  32  16  15    1   16
2   1875     16  15  15  15  15  16   1   16    1
3    187     16  16   1   1  62  16  15    1  219
4    531  12125  15  16  15  31  32  32   15   15
5    578      1  15  16  16  15  16  16   15   16
6    890     16  47  32  31  31  15  16   31   16
7    171     15   1  16   1   1  15   1   16    1
8    391     16   1  16   1  32  15   1   16   16
9    296     16   1   1  16  32  31  16   32   16
10  1016     31  31  31  47  31  31  31   31   46
11   563     47  15  31  32  31  46  32   31   16
12   313     16  15  47  32  32  15  32   16   31
13   469     31  32  16  16   1  16  16   15   16
14   344     16  31  32  15  32  15  32   16   16
15   141     15  16   1  16  15  15  15   15   15
16   672     47  31  32  16  16  15  16   15   15
17   625     31  16  16  47  47  31  31   47   31
18    62     16  16  15  16   1  32  32   15   15
19    47      1  15  16  15   1   1  16    1    1
20   172     15  15  15  15  15   1  15   15    1
21   203     31  16  15   1  31  15  16   16    1
22   360     32  31  31  16  16  16  16   31   15
23   375     16   1  16  15  16  15  16   31   32
24   500     32  32  32  15  46  16  31   16   16
25   281     32  32  16  16  31  16  16   15   16
26   203     15  16  32  32  31  16  31   16   16
27   234     15  16  31  15  16  31  31  438   47
28   297     47  78  62  47  78  47  47   63   63
29  8922     15  16  16  16  16  16   1   16   16
30   375     47  16  31  16  16  15  32   32   16
31   547     15  31  31  31  31   1  31   31   32
32   266      1   1   1  15  15  16  16    1    1
33   281     47  16  16  31  32  31  32   16   16
34    78     15  16   1  15  16   1   1   15   16
35   297     15  15   1  31  16  16  16   15   16
36    31     15   1  16  16  16   1  16   15   16
37   188     15  15   1  15  16  16  16   16   15
38   422     15  16   1  16  16  15   1   16   32
39   641     31  16  31  47  46  47  62   15   31
40   203      1  16  31  16  15   1  15   16   16
41   188      1  16   1  16  16  15   1   15    1
42   219     31  16  15  16  16  31  16   16   16
43   109     16  16  15   1   1   1   1   16   16
44   250     31  15  15  15  16   1  16   15   16
45   375     32  16  15  31  16  32  47   31   32
46    32     15  62   1  31  47   1  31   16   31
47   125     16  16  16   1  31  15   1   16   16
48   594     16  16  16  16  16  16  16   31   31
49   156     16  15  15  15   1  31  15    1    1

In [10]:
q2_time['mean']=q2_time.iloc[:,1:].mean(axis=1)
q_list=[]
for i in range(50):
    if(q2_time['mean'][i]>=20.0):
        q_list.append(i)

q2_time

       0      1   2   3   4   5   6   7    8    9         mean
0   3343     31  16  15  15  15  15  16   16   16    17.222222
1    531     63  63  15  15  32  16  15    1   16    26.222222
2   1875     16  15  15  15  15  16   1   16    1    12.222222
3    187     16  16   1   1  62  16  15    1  219    38.555556
4    531  12125  15  16  15  31  32  32   15   15  1366.222222
5    578      1  15  16  16  15  16  16   15   16    14.000000
6    890     16  47  32  31  31  15  16   31   16    26.111111
7    171     15   1  16   1   1  15   1   16    1     7.444444
8    391     16   1  16   1  32  15   1   16   16    12.666667
9    296     16   1   1  16  32  31  16   32   16    17.888889
10  1016     31  31  31  47  31  31  31   31   46    34.444444
11   563     47  15  31  32  31  46  32   31   16    31.222222
12   313     16  15  47  32  32  15  32   16   31    26.222222
13   469     31  32  16  16   1  16  16   15   16    17.666667
14   344     16  31  32  15  32  15  32   16   16    22.777778
15   141     15  16   1  16  15  15  15   15   15    13.666667
16   672     47  31  32  16  16  15  16   15   15    22.555556
17   625     31  16  16  47  47  31  31   47   31    33.000000
18    62     16  16  15  16   1  32  32   15   15    17.555556
19    47      1  15  16  15   1   1  16    1    1     7.444444
20   172     15  15  15  15  15   1  15   15    1    11.888889
21   203     31  16  15   1  31  15  16   16    1    15.777778
22   360     32  31  31  16  16  16  16   31   15    22.666667
23   375     16   1  16  15  16  15  16   31   32    17.555556
24   500     32  32  32  15  46  16  31   16   16    26.222222
25   281     32  32  16  16  31  16  16   15   16    21.111111
26   203     15  16  32  32  31  16  31   16   16    22.777778
27   234     15  16  31  15  16  31  31  438   47    71.111111
28   297     47  78  62  47  78  47  47   63   63    59.111111
29  8922     15  16  16  16  16  16   1   16   16    14.222222
30   375     47  16  31  16  16  15  32   32   16    24.555556
31   547     15  31  31  31  31   1  31   31   32    26.000000
32   266      1   1   1  15  15  16  16    1    1     7.444444
33   281     47  16  16  31  32  31  32   16   16    26.333333
34    78     15  16   1  15  16   1   1   15   16    10.666667
35   297     15  15   1  31  16  16  16   15   16    15.666667
36    31     15   1  16  16  16   1  16   15   16    12.444444
37   188     15  15   1  15  16  16  16   16   15    13.888889
38   422     15  16   1  16  16  15   1   16   32    14.222222
39   641     31  16  31  47  46  47  62   15   31    36.222222
40   203      1  16  31  16  15   1  15   16   16    14.111111
41   188      1  16   1  16  16  15   1   15    1     9.111111
42   219     31  16  15  16  16  31  16   16   16    19.222222
43   109     16  16  15   1   1   1   1   16   16     9.222222
44   250     31  15  15  15  16   1  16   15   16    15.555556
45   375     32  16  15  31  16  32  47   31   32    28.000000
46    32     15  62   1  31  47   1  31   16   31    26.111111
47   125     16  16  16   1  31  15   1   16   16    14.222222
48   594     16  16  16  16  16  16  16   31   31    19.333333
49   156     16  15  15  15   1  31  15    1    1    12.222222

In [11]:
q_list=[1, 3, 4, 6, 10, 11, 12, 14, 16, 17, 22, 24, 25, 26, 27, 28, 30, 31, 33, 39, 45, 46]

In [12]:
import re

def make_template(file,params,replacedParams):
    tree=etree.parse(file)
    xmlstr=etree.tostring(tree)
    xmlstr=xmlstr.decode("utf-8")
    for i in range(len(params)):
        xmlstr,count=re.subn(params[i],replacedParams[i],xmlstr)
        print("{} occurences replaced".format(count))
    xmlstr=xmlstr.replace("'","''")
    return xmlstr


def use_template(file,params,replacedParams):
    tree=etree.parse(file)
    xmlstr=etree.tostring(tree)
    xmlstr=xmlstr.decode("utf-8")
    for i in range(len(params)):
        xmlstr,count=re.subn(params[i],replacedParams[i],xmlstr)
        # print("{} occurences replaced".format(count))
    return xmlstr

def extract_parameters(query):
    params=[]
    s=query
    s_index=query.find("item.i_manufact_id = ")+len("item.i_manufact_id = ")
    param1=''
    while(s[s_index]!="\n"):
        param1+=s[s_index]
        s_index+=1
    params.append(param1)
    s_index=query.find("dt.d_moy = ")+len("dt.d_moy = ")
    param2=''
    while(s[s_index]!="\n"):
        param2+=s[s_index]
        s_index+=1
    params.append(param2)
    return params

In [26]:
f=open(r"G:\dbquery-optimizer\tpcds\query_variants\query_2\q_two_32.sql",'r')
q=f.read()
print(extract_parameters(q))

['1000', '6']

In [27]:
file=r"G:\dbquery-optimizer\tpcds\Execution_Plans\query_2\query_two_32.xml"
params=['= 1000',"\(1000\)","= 6","\(6\)"]
# print(params)
replacedParams=['= MF_ID',"(MF_ID)",'= M_O_Y',"(M_O_Y)"]
s=make_template(file,params,replacedParams)
f=open(r'G:\dbquery-optimizer\tpcds\Execution_Plans\generic\plan_two_3.xml','w')
f.write(s)
f.close()

1 occurences replaced
2 occurences replaced
1 occurences replaced
2 occurences replaced

In [30]:
p_list=[1,2,3]
for i in range(len(q_list)):
    f=open(r"G:\dbquery-optimizer\tpcds\query_variants\query_2\q_two_"+str(q_list[i]+1)+".sql",'r')
    q=f.read()
    f.close()
    params=['MF_ID','M_O_Y']
    replacedParams=extract_parameters(q)
    for j in range(len(p_list)):
        file=r"G:\dbquery-optimizer\tpcds\Execution_Plans\generic\plan_two_"+str(p_list[j])+".xml"
        plan=use_template(file,params,replacedParams)
        q1=q.replace(';','')+"OPTION( USE PLAN N'"+plan+"')"
        f=open(r"G:\dbquery-optimizer\tpcds\new_query_2\query_"+str(q_list[i]+1)+"_plan_"+str(p_list[j])+".sql",'w')
        f.write(q1)
        f.close()

In [32]:
for i in range(len(q_list)):
    f=open(r"G:\dbquery-optimizer\tpcds\query_variants\query_2\q_two_"+str(q_list[i]+1)+".sql",'r')
    q=f.read()
    f.close()
    f=open(r"G:\dbquery-optimizer\tpcds\new_query_2\query_"+str(q_list[i]+1)+"_no_plan.sql",'w')
    f.write(q)
    f.close()
    f=open(r"G:\dbquery-optimizer\tpcds\Execution_Plans\query_2\query_two_"+str(q_list[i]+1)+".xml",'r',encoding='utf-16')
    plan=f.read()
    f.close()
    # plan=plan.replace("'","''")
    q1=q.replace(';','')+"OPTION( USE PLAN N'"+plan+"')"
    f=open(r"G:\dbquery-optimizer\tpcds\new_query_2\query_"+str(q_list[i]+1)+"_default_plan.sql",'w')
    f.write(q1)
    f.close()

In [33]:
import subprocess
import os
host='ACCESS-DENIED\SQLEXPRESS'
folder=r"G:\dbquery-optimizer\tpcds\new_query_2"
directory = os.fsencode(folder)
q2p_time=[]  
for file in os.listdir(directory):
    path=os.path.join(directory,file)
    path=path.decode("utf-8")
    durations=[]
    for j in range(5):
        p=subprocess.Popen(['sqlcmd','-S',host,'-i',path,'-p1'],stdout=subprocess.PIPE,stderr=subprocess.PIPE)
        stdout, stderr=p.communicate()
        try:
            res=str(stdout)
            f_index=res.find('affected')+len('affected')
            l_index=f_index+35
            s=res[f_index+9:l_index]
            d=int(extract_duration(s))
            durations.append(d)
        except:
            print(stderr)
    q2p_time.append(durations)

q2p_time=np.array(q2p_time)
q2p_time=pd.DataFrame(q2p_time)
q2p_time

        0   1   2   3   4
0    5156  31  15  15  16
1     125   1   1   1   1
2     203  47  16  16  16
3      62  15  15  16  15
4     156  16   1  16  16
..    ...  ..  ..  ..  ..
105   140  16  15  16   1
106    15  15   1   1   1
107    15  16  16  31  16
108    31  15  16  15  16
109    31  16  16  16   1

[110 rows x 5 columns]

In [34]:
q2p_time=pd.DataFrame(q2p_time)
# pd.set_option('display.max_rows',10)
q2p_time['mean']=q2p_time.iloc[:,1:].mean(axis=1)
q2p_time

        0   1   2   3   4   mean
0    5156  31  15  15  16  19.25
1     125   1   1   1   1   1.00
2     203  47  16  16  16  23.75
3      62  15  15  16  15  15.25
4     156  16   1  16  16  12.25
..    ...  ..  ..  ..  ..    ...
105   140  16  15  16   1  12.00
106    15  15   1   1   1   4.50
107    15  16  16  31  16  19.75
108    31  15  16  15  16  15.50
109    31  16  16  16   1  12.25

[110 rows x 6 columns]

In [35]:
q2p_stats=[]
i=0
k=0
while(i<110):
    durations=[]
    durations.append(q_list[k]+1)
    k+=1
    for j in range(5):
        durations.append(q2p_time['mean'][i])
        i+=1
    q2p_stats.append(durations)

q2p_stats=np.array(q2p_stats)

q2p_stats=pd.DataFrame({'Query_No':q2p_stats[:,0],'No Plan':q2p_stats[:,2],'Default Plan':q2p_stats[:,1],'Plan 1':q2p_stats[:,3],'Plan 2':q2p_stats[:,4],'Plan 3':q2p_stats[:,5]})
q2p_stats['mean_duration']=q2p_stats.iloc[:,1:6].mean(axis=1)
q2p_stats['min_duration']=q2p_stats.iloc[:,1:6].min(axis=1)
q2p_stats['max_duration']=q2p_stats.iloc[:,1:6].max(axis=1)
q2p_stats['std deviation']=q2p_stats.iloc[:,1:6].std(axis=1)
q2p_stats.style.set_caption("(All durations in ms)")
q2p_stats=q2p_stats.astype({'Query_No':int})
sum=pd.DataFrame({'Query_No':['Sum'],'No Plan':[q2p_stats['No Plan'].sum()],'Default Plan':[q2p_stats['Default Plan'].sum()],'Plan 1':[q2p_stats['Plan 1'].sum()],'Plan 2':[q2p_stats['Plan 2'].sum()],'Plan 3':[q2p_stats['Plan 3'].sum()]})
# q2p_stats['Query_No']='Sum'
# q2p_stats.to_csv()

q2p_stats=q2p_stats.append(sum,ignore_index=False,sort=False)
q2p_stats.to_excel('Query_2_Plan_stats.xls')